/* Container styles */
.add-item-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  height: 390px;
  overflow: hidden;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Title styles */
.add-item-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Form styles */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
}

.form-group input:focus {
  outline: none;
  border-color: #5c6ac4;
}

/* Button styles */
.btn-primary {
  background-color: #5c6ac4;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #4857a0;
}

/* Responsive styles */
@media (max-width: 600px) {
  .add-item-container {
    max-width: 100%;
    padding: 10px;
  }
}

/* Dropdown styles */
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
}

.form-group select option {
  padding: 0.5rem;
}

.form-group select option[value=""] {
  color: #999;
}

.form-group select:focus {
  border-color: #007BFF;
}

.form-group select option:checked {
  background-color: #007BFF;
  color: #fff;
}

/* Customize the table header */
table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

thead {
  background-color: #333;
  color: white;
  font-weight: bold;
}

th,
td {
  padding: 15px;
}

/* Style the "Delete" button */
.btn-danger {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.btn-danger.disabled {
  background-color: #ccc;
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal {
  /* Define the styles for your modal here */
}

/* Define the styles for the skeleton elements */
.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.skeleton-thumbnail {
  height: 160px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.skeleton-title {
  width: 100%;
  height: 24px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  margin: 8px 0;
}

.skeleton-subtitle {
  width: 50%;
  height: 16px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  margin: 8px 0;
}

.skeleton-text {
  width: 100%;
  height: 16px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  margin: 8px 0;
}

.skeleton-button {
  width: 80px;
  height: 32px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  margin: 8px;
}

@keyframes loading {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

/* Top Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--your-top-navbar-color);
  z-index: 100;
  /* Ensures it's on top */
  /* Other styles for your top navbar */
}

/* Side Navbar styles */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: width 0.5s;
  /* Other styles for your side navbar */
}

/* Dashboard styles */
.dashboard {
  margin-top: 5%;
  /* Make space for the fixed top navbar */
  margin-left: 200px;
  /* Match the width of the side navbar */
  background-color: var(--panel-color);
  min-height: 89vh;
  width: calc(100% - 200px);
  padding: 10px 14px;
  transition: margin-left 0.5s, width 0.5s;
  background-color: #fff;
  /* box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25); */
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(73, 4, 74, 0.25);
}

nav.close {
  width: 60px;
}

nav .logo-name {
  display: flex;
  align-items: center;
}

nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}

nav .logo-image img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

nav .logo-name .logo_name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}

nav.close .logo_name {
  opacity: 0;
  pointer-events: none;
}

nav .menu-items {
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-skeleton {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);

}

.header-skeleton .logo-name {
  display: flex;
  align-items: center;
}

.header-skeleton .logo-image {
  width: 50px;
  height: 50px;
  background: #848282;
  /* Background color for the logo image placeholder */
  border-radius: 50%;
  margin-right: 12px;
}

.header-skeleton .logo-text {
  width: 150px;
  height: 24px;
  background: #848282;
  /* Background color for the logo text placeholder */
  border-radius: 4px;
}

/* .header-skeleton .menu-items {
  display: flex;
  flex-direction: column;
} */

.header-skeleton .nav-links li,
.header-skeleton .logout-mode li {
  margin: 8px 0;
}

.header-skeleton .nav-links .skeleton,
.header-skeleton .logout-mode .skeleton {
  width: 100%;
  height: 18px;
  background: #363636;
  /* Background color for links and mode placeholders */
  border-radius: 4px;
}

.header-skeleton .mode .skeleton {
  width: 100px;
  height: 18px;
}

/* Animation for the loading effect */
.header-skeleton .skeleton {
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.2;
  }
}

.skeleton-card {
  /* Set the background color for the card skeleton */
  background-color: #7e7d7d;
  border: 1px solid #585757;
  border-radius: 8px;
}

.skeleton-thumbnail {
  /* Set the aspect ratio and background color for the thumbnail skeleton */
  width: 100%;
  padding-bottom: 56.25%;
  background-color: #6d6c6c;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  /* Add some padding for the card body */
  padding: 1rem;
}

/* Define the styles for skeleton elements (title, subtitle, text, and buttons) */
.skeleton-title {
  width: 70%;
  height: 20px;
  background-color: #737171;
  margin-bottom: 16px;
}

.skeleton-subtitle {
  width: 50%;
  height: 16px;
  background-color: #959393;
  margin-bottom: 12px;
}

.skeleton-text {
  width: 90%;
  height: 12px;
  background-color: #777575;
  margin-bottom: 12px;
}

.skeleton-button {
  width: 80px;
  height: 24px;
  background-color: #807d7d;
  margin-right: 8px;
}

/* Animation for the loading effect */
.skeleton-card>* {
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.5;
  }
}

.menu-items li {
  list-style: none;
}

.menu-items li a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}

.nav-links li a:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

body.dark li a:hover:before {
  background-color: var(--text-color);
}

.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}

.menu-items li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}

/* src/components/Sidebar.css */


.collapsed {
  width: 75px;
}

.toggle-button {
  background: #444;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 9%;
}

li {
  padding: 10px;
}

/* Add more styling as needed */
.gear-container {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gear-icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.clockwise {
  transform: rotate(45deg);
}

.anticlockwise {
  transform: rotate(0deg);
}

/* Custom CSS for bottom-buttons and container */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bottom-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

/* Style for buttons */
.bottom-buttons button {
  padding: 10px 20px;
  /* Add padding to the buttons for spacing */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for the "Previous" button */
.bottom-buttons .btn-backs {
  background-color: grey;
  /* Reddish background color */
  color: #fff;
  /* White text color */
}

/* Style for the "Next" button */
.bottom-buttons .btn {
  background-color: rgb(173, 75, 173);
  /* Blue background color */
  color: #fff;
  /* White text color */
}

/* Style for the "Submit" button */

.boxConteiner {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  perspective: 800px;

}

.rdt_TableHead {
  background-color: #2196F3 !important;
}

/* Example CSS for dark-themed react-data-table-component */

/* Change the background color of the table header */
.rdt_TableHead {
  background-color: #333;
  /* Dark background color */
  color: white;
  /* Text color */
}

/* Change the background color of table rows */
.rdt_TableRow {
  background-color: #444;
  /* Dark background color */
  color: white;
  /* Text color */
}

/* Change the background color of the selected row */
.rdt_TableRow.selected {
  background-color: #555;
  /* Dark background color for selected row */
}

/* Customize the pagination buttons */
.rdt_Pagination {
  background-color: #333;
  /* Dark background color */
}

/* Style the search bar input */
.rdt_Search input {
  background-color: #444;
  /* Dark background color for search input */
  color: white;
  /* Text color */
}

/* Customize the hover color for rows */
.rdt_TableRow:hover {
  background-color: #555;
  /* Dark background color for hover */
}

/* YouTubeSkeletonLoader.css */
.youtube-skeleton-loader {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

.youtube-skeleton-header {
  display: flex;
  background-color: #f0f0f0;
  border-bottom: 1px solid #e0e0e0;
}

.youtube-skeleton-shimmer {
  flex: 1;
  height: 25px;
  /* Adjust cell height as needed */
  margin: 10px;
  background: linear-gradient(90deg, transparent, rgba(240, 240, 240, 0.5), transparent);
  background-size: 200% 100%;
  animation: loading 2s infinite;
  border-radius: 4px;
  min-height: 20px;
  /* Match cell height for consistency */
}

.youtube-skeleton-header .youtube-skeleton-shimmer {
  animation-delay: 0.5s;
}

.youtube-skeleton-body {
  padding: 10px;
}

.youtube-skeleton-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.youtube-skeleton-shimmer {
  flex: 1;
  height: 25px;
  /* Adjust cell height as needed */
  margin: 10px;
  background: linear-gradient(90deg, transparent, rgba(152, 150, 150, 0.7), transparent);
  background-size: 200% 100%;
  animation: loading 2s infinite;
  border-radius: 4px;
  min-height: 20px;
  /* Match cell height for consistency */
}

@keyframes loading {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

/* Add this CSS to your stylesheet */
.container {
  margin-top: 30px;
}

.qr-generator {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  max-height: 600px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;

}

.qr-generator h2 {
  margin-bottom: 20px;
}

.qr-generator .qr-input {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  font-size: 18px;
}

.qr-generator .generate-button {
  margin-top: 20px;
}

.qr-generator .generated-qrs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 40%;
  overflow-y: scroll;
  min-height: 40%;
  max-width: 70%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  scrollbar-color: purple;
}

.input-group-append {
  margin-top: 3%;


}

.qr-code {
  display: flex;
  flex-direction: column;
  width: 90px;
  /* Adjust the size as needed */
}

.qr-row {
  display: flex;
  justify-content: center;
}

.qr-block {
  width: 30px;
  /* Adjust the size as needed */
  height: 30px;
  /* Adjust the size as needed */
  margin: 2px;
  /* Adjust the spacing between blocks as needed */
}

.qr-dark {
  background-color: #000;
  /* Dark color for QR code */
}

.qr-light {
  background-color: #fff;
  /* Light color for QR code */
}


.loader-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.qr-code {
  width: 120px;
  height: 120px;
  margin: 0 auto 20px;
}

.loading-text {
  font-size: 18px;
  margin: 10px 0;
}

.loading-details {
  font-size: 14px;
  color: #777;
}

/* Custom QR code styling */
.qr-code div {
  width: 20px;
  height: 20px;
  background-color: #000;
  position: absolute;
  animation: qr-animation 1s infinite;
}

@keyframes qr-animation {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }
}

/* NotificationPanel.css */

.notification-container {
  position: relative;
  display: inline-block;
}

.notification-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.notification-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
  width: 300px;
  /* Adjust the width as needed */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-item {
  border-bottom: 1px solid #e5e5e5;
}

.notification-item:last-child {
  border-bottom: none;
}

.empty {
  text-align: center;
  padding: 10px;
  color: #888;
}

a {
  text-decoration: none;
  color: #333;
}

/* a:hover {
  background-color: #f5f5f5;
} */
/* Add these styles to your existing stylesheet or component */

.search-container {
  position: relative;
}

.search-input-container {
  position: relative;
  
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 8px 8px;
}

.dropdown-item {
  width: 100%;
  padding: 8px;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type-indicator {
  color: #666;
  font-size: 12px;
}



/* Media query for smaller screens */
@media (max-width: 767px) {
  .search-dropdown {
    width: 100%;
    max-width: none;
  }
}

.dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

/* Add this to your styles */
.search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type-indicator {
  font-size: 0.8em;
  /* Adjust the font size as needed */
  color: gray;
  /* or any other color you prefer */
}

.coupon-container {
  max-width: 720px;
  margin: 0 auto;
  padding: 10px;
  height: 500px;
  overflow: hidden;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  position: relative;
}

.coupon-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.coupon-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 8%;
}



.generate-button {
  background-color: purple;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.generate-button:hover {
  background-color: #6a1b9a;
  /* Darker shade of purple on hover */
}

.coupon-code {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.dropdown-setting {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  font-size: 16px;

}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: purple;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(128, 0, 128, 0.25);

}

.coupon-container-body {
  height: 100vh;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.idxdtx {
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: #FFFFFF;
  min-height: 52px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, .12);
  border-bottom-style: solid;
  background-color: purple !important;
  color: white !important;
}

.btn-active {
  background-color: #fff !important;
  box-shadow: 0 0 0 0.2rem rgba(73, 4, 74, 0.25);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  padding: 8px;
  font-weight: 500;
  color: purple;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-danger {
  padding-top: 8px;
  padding-bottom: 8px;
}

.dashboardcollapsed {
  margin-left: 65px;
  margin-top: 5%;
  /* Adjust the margin for the expanded dashboard */
  width: 100%;
  background-color: var(--panel-color);
  min-height: 90vh;
  width: calc(100% - 50px);
  padding: 10px 14px;
  background-color: #fff;
  /* box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25); */
  transition: var(--tran-05);
}

@media screen and (max-width: 768px) {
  .dashboardcollapsed {

    margin-top: 12%;
  }

  .dashboard {
    margin-top: 12%;
  }
}

@media screen and (max-width: 576px) {
  .dashboardcollapsed {

    margin-top: 18%;
  }

  .dashboard {
    margin-top: 18%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .dashboardcollapsed {
    margin-top: 15%;
  }

  .dashboard {
    margin-top: 15%;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .dashboardcollapsed {
    /* Add specific styles for this screen range if needed */
    margin-top: 12%;
  }

  .dashboard {
    margin-top: 12%;
  }
}

@media screen and (min-width: 993px)and (max-width: 1280px) {
  .dashboardcollapsed {
    margin-top: 7%;
  }

  .dashboard {
    margin-top: 7%;
  }
}

.react-datepicker__day--selected {
  border-radius: 0.3rem;
  background-color: rgb(148, 38, 126) !important;
  color: #fff !important;
}

.react-datepicker__day--keyboard-selected {
  border-radius: 0.3rem;
  background-color: rgb(148, 38, 126) !important;
  color: #fff !important;
}

.react-datepicker__month-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: rgb(148, 38, 126) !important;
  color: #fff !important;
}

.qr-footer {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}
.dkIDck {
  display: flex;
  align-items: stretch;
  width: 100%;
  
  min-height: 52px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: purple !important;
  color: whitesmoke;
}
.mainheader {
  background-color: #fff; /* Set your desired background color */
  color: black; /* Set your desired text color */
  padding: 10px; /* Set padding as needed */
  position: relative;
  z-index: 9999; /* Ensure the header is on top of other elements */
  display: flex;

}
/* CustomTooltip.css */

.custom-tooltip {
  position: relative;
  display: inline-block;
  margin-left: 10px;
 
}

.tooltip-icon {
  color: #007bff; /* Blue color for the info circle */
  font-size: 18px;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  max-width: 250px;
  max-height: 50px;
  overflow-x: auto;
  background-color: #f2f2f2; /* Light gray background */
  color: #333; /* Dark text color for better readability */
  border: 1px solid #ccc; /* Light gray border */
  text-align: center;
  border-radius: 8px; /* Slightly increased border radius */
  padding: 10px; /* Increased padding for better spacing */
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 50%;
  transform: translateX(-50%); /* Centering using transform */
  opacity: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow for depth */
  transition: opacity 0.3s;
}

.tooltip-text:hover {
  visibility: visible;
  opacity: 1;
}


.custom-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
input[type="checkbox"]:checked {
  background-color: purple;
  border-color: purple;
}
input[type="checkbox"]::before {
  content: '\2713'; /* Unicode character for a checkmark */
  color: white; /* Change this color to the desired color for the check mark */
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}
input[type="checkbox"]:checked::before {
  opacity: 1;
}
input[type="checkbox"] {
  appearance: none; /* Remove default checkbox appearance */
  width: 16px;
  height: 16px;
  border: 2px solid purple;
  border-radius: 3px;
  outline: none;
  transition: 0.3s;
  position: relative;
}
/* Unchecked state */
input[type="checkbox"]::before {
  content: '−'; /* Unicode character for a minus symbol */
  color: white; /* Change this color for the minus symbol in the unchecked state */
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1; /* Change this to 1 for the unchecked state */
  transition: opacity 0.3s;
}

/* Checked state */
input[type="checkbox"]:checked::before {
  content: '\2713'; /* Unicode character for a checkmark */
  color: white; /* Change this color for the check mark in the checked state */
  opacity: 1;
}
/* Add your styling here */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.popoverAdmin {
  position: absolute;
  right: 150%;
  margin-top: 7%;
  padding: 4px;
  
  width: 150px;
  transform: translateY(-50%);
  box-shadow: 1px 1px 1px 1px purple;
  border-color: black;
  border-radius: 10px;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  transition: opacity 0.5s, visibility 0.5s;
  background-color: whiteSmoke;
  
  left: 0;
  /* Hide the scrollbar but enable scrolling */


}
@media screen and (max-width: 1024px) {
  .popoverAdmin {
    margin-top: 10%;
  }
}
@media screen and (max-width:1180px) {
  .popoverAdmin {
    margin-top: 10%;
  }
}
